body{
	background-color: #363636;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Helvetica;
	font-size: 1.5rem;
	color: white;
}

#teste{
	width: 500px;
}

.active{
	font-family: Helvetica;
	font-size: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	color: white;
}

.item{
	margin: 10px;
	background-color: #696969;
	border-radius: 10px;
	transition: .5s;
}

.active h2{ 
	margin: 20px;
	padding: 10px;
	text-transform: uppercase;
	border-bottom: solid 3px white;
}

.active ul{ 
	width: 100%; 
	margin: 10px; 
	text-align: left;
}

.active button{ 
	width: 40%; 
	height: 30px; 
	margin: 10px 0px;
}