@media screen and (max-width: 600px){
  .articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .articles_main{
    width: 100%;
    margin: 1.5rem 0rem;
  }

  .articles_others{
    width: 100%;
    margin: 1.5rem 0rem;
  }
}

