<div class="articles">
  <div class="articles_main">
    <app-big-card id="1" photoCover="https://conteudo.imguol.com.br/c/entretenimento/85/2018/04/25/homem-de-ferro-3-1524693614901_v2_4x3.png" cardTitle="Título" cardDescription="Descrição"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card id="2" photoCover="https://static.itapemafm.com.br/s3fs-public/2020-06/henry%20cavill%20superman.jpg?yGfKzA6R_1p60WqurxiML9lDV_ZYe__y" cardTitle="Titulo"></app-small-card>
    <app-small-card id="3" photoCover="https://conteudo.imguol.com.br/c/entretenimento/85/2018/04/25/homem-de-ferro-3-1524693614901_v2_4x3.png" cardTitle="Titulo"></app-small-card>
    <app-small-card id="4" photoCover="https://static.itapemafm.com.br/s3fs-public/2020-06/henry%20cavill%20superman.jpg?yGfKzA6R_1p60WqurxiML9lDV_ZYe__y" cardTitle="Titulo"></app-small-card>
  </div>
</div>
