<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles_main">
    <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTGUFUPs1xpgBwZsWNX18TOFpJFC67j7uGw&usqp=CAU" cardTitle="Título" cardDescription="Descrição"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTGUFUPs1xpgBwZsWNX18TOFpJFC67j7uGw&usqp=CAU" cardTitle="Titulo"></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTGUFUPs1xpgBwZsWNX18TOFpJFC67j7uGw&usqp=CAU" cardTitle="Titulo"></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTGUFUPs1xpgBwZsWNX18TOFpJFC67j7uGw&usqp=CAU" cardTitle="Titulo"></app-small-card>
  </div>
</div>
