.container_menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .5rem 0rem;

}

.container_menu ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
}

li{
  margin: 0rem 1rem;
  padding: .3rem;
  font-weight: bold;
}

a{
  text-decoration: none;
}
