<div class="container_big_card">
  <div class="big_card_photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTGUFUPs1xpgBwZsWNX18TOFpJFC67j7uGw&usqp=CAU" alt="">
  </div>
  <div class="big_card_title">
    <h1><a href="#">Lançada nova versão do Angular</a></h1>
  </div>
  <div class="big_card_description">
    <a href="#">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas fuga, totam explicabo quo, laborum ea corrupti fugit iusto quasi magnam reprehenderit ad quisquam. Maiores quo cupiditate iusto ducimus aliquam illum.</p>
    </a>
  </div>
</div>
